<div style="width: 100%; text-align: right;">
  <%= link_to 'Log In', login_path, class: 'button' %>
</div>

<h1>Sign Up</h1>
<%= form_with(model: @user, url: users_path, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= form.label :password_confirmation, "Confirm Password" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
        <%= form.submit "Sign up" %>
    </div>
<% end %>